p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #2f5275;
}
.book .book-summary {
  background: white;
  border-right: none;
}
.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #2f5175;
}
.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #778ca5 !important;
  border-left: solid 4px;
  border-color: #5699cc;
  padding-left: 11px !important;
}
li.appendix span, li.part span { /* for TOC part names */
  margin-top: 1em;
  color: #1c3046 !important;
  opacity: 1 !important;
  text-transform: uppercase;
}
.caution, .important, .note, .tip, .warning {
  padding: 1em 2em .5em 2.5em;
  margin-bottom: 5px;
  background: #fff0c7 5px center/3em no-repeat;
  border: 2px solid orange;
  border-radius: 10px;
}
